.empty-message {
	padding: 5px 10px;
	text-align: center;
}

.page-lines-list {
	overflow-y: scroll;
}

#table-line-managers .profile-picture {
	width: 15px;
	height: 15px;
}

.geo-data {
	display: none;
}

.line-tab-width > .nav-tabs > li {
	width: 15%;
}

.btn-manager_user {
	padding: 0;
	border: none;
}

.btn-manager_user > .btn {
	border-radius: 0 4px 4px 0;
}

#refresh-lines i {
	margin-right: 0;
}

