.geo-data {
	display: none;
}

.accordion-content {
	width: 100%;
	display: inline-block;
	padding: 20px;
}

#parties_datatable {

}

#parties_datatable td {
	word-wrap: break-word;
}

.accordion .panel .panel-title {
	padding: 10px;
}

.title_data_row {
	white-space: nowrap;
	min-width: 200px;
}

.stock_drink {
	position: relative;
}

.in_stock_drink:before {
	content: "\f14a";
	font-family: FontAwesome !important;
	left: 40px;
	position: absolute;
	top: 0;
	font-size: 20px;
}

.not_in_stock_drink:before {
	content: "\f096";
	font-family: FontAwesome !important;
	left: 40px;
	position: absolute;
	top: 0;
	font-size: 20px;
}

.droppable_active_body {
	background-color: lightslategray;
}