@media (min-width: 1200px) and (max-width: 1400px){
    .tiles{
        width: 70%;
    }
}

@media (min-width: 991px) and (max-width: 1200px){
    .tiles{
        width: 80%;
    }
    .offset-top-md-2 {
        margin-top: 20px !important;
    }
    .line-btn-gtoup{
        float: right !important;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .tiles article{
        width: calc(50% - 2.5em);
    }
}

@media (max-width:1200px) {
    .tiles{
        width: 90%;
    }
}

@media (max-width: 991px) {
    .tiles{
        width: 100%;
    }
    .time span{
        font-size: 50px;
    }
    .time .second{
        font-size: 25px;
    }
    .data{
        font-size: 18px;
    }
  /*  .group-btn, .group-input{
        display: table;
        margin: 0 auto 15px;
        float: none !important;
    }*/
    .search > div > label{
        text-indent: -51px;
    }
    .user-picture{
        margin: 0 auto;
    }
    .offset-top-xs-2 {
        margin-top: 20px !important;
    }
    #select_container{
        margin-bottom: 5px;
    }
    .lines-btb-group, .input-group-line{
        float: none !important;
        display: table;
        margin: 10px auto;
    }
    .switch-lang{
        position: relative;
        margin: 15px auto;
        display: table;
    }
}

@media (max-width: 768px) {
    .tiles article{
        width: calc(100% - 2.5em);
    }
    .data-time{
        display: none;
    }
    #header nav{
        top: 3em;
    }
    #header .logo{
        float: left;
        margin-left: 15px !important;
    }
    #users-list-datatable tbody tr td:nth-child(1),
    #users-list-datatable tbody tr td:nth-child(3),
    #users-list-datatable tbody tr td:nth-child(6),
    #users-list-datatable tbody tr td:nth-child(7),
    #users-list-datatable tbody tr td:nth-child(8),
    #users-list-datatable tbody tr td:nth-child(9),
    #users-list-datatable tbody tr td:nth-child(10),
    #table-line-managers_wrapper table tr th:last-child,
    #table-line-managers_wrapper table tr td:last-child{
        display: none !important;
    }
    .user-btn-group{
        display: none;
    }
    #lines-gallery .mt-element-overlay{
        width: 100% !important;
    }
    .lines-btb-group>.btn-info{
        display: none;
    }
    .line-tab-width > .nav-tabs > li {
        width: 20% !important;
    }
    .table-line-managers_wrapper
}

@media (max-width: 600px) {
    .form-md-line-input{
        padding: 0;
    }
    .portlet.light{
        padding: 12px 15px 15px;
    }
    .page-content-wrapper{
        width: 95% !important;
    }
    .switch-lang{
        float: none !important;
        margin-bottom: 10px;
    }
    .line-tab-width > .nav-tabs > li {
        width: 25% !important;
    }
    .footer-btn>*{
        float: none !important;
        display: table;
        margin: 5px auto !important;
    }
}

@media (max-width: 500px) {
    .group-btn{
        text-align: center;
    }
    .group-btn>*{
        text-align: center;
        margin-bottom: 5px;
    }

    .lines-btb-group >*:not(:last-child){
        float: none !important;
        display: inline-block;
    }

    .multiselect-native-select{
        float: none !important;
        display: table;
        margin: 0 auto 10px;
    }
    .form-md-line-input .vertical-row>*{
        width: 100%;
        display: block;
    }
    .input-medium{
        width: auto !important;
    }
    #users-list-datatable tbody tr td:nth-child(4) span{
        width: 20px;
        color: transparent !important;
    }

    #users-list-datatable tbody tr td:nth-child(4) span:first-letter{
        color: #fff !important;
    }

    table.dataTable thead th{
        padding:10px 5px;
    }
    #users-list-datatable .profile-picture{
        width: 25px;
        height: 25px;
    }
    .table thead tr th{
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .line-tab-width > .nav-tabs > li {
        width: 30% !important;
    }
}










@media (max-width: 375px) {
    #header .logo .symbol{
        float: left;
        margin: 0;
    }
    #header .logo img{
        max-width: 150px;
    }
    #header nav {
        top: 1.8em;
    }
    .line-btn-gtoup>*{
        float: none !important;
        display: table;
        margin: 5px auto;
    }
}