body {
    background: #35a2c1;
    background-image: url("/images/party-bg.jpg");

}

.logo img {
    height: 90px;
}

.logo {
    margin: 0 auto;
}

.copyright {
    color: black !important;
}

.page-content-wrapper {
    width: 90% !important;
    float: none !important;
    margin: 0 auto !important;
}

.page-content-wrapper .page-content {
    margin-left: 0 !important;
}