<div class="portlet-body">

    <div class="panel-group accordion" id="music_accordion_container">

        <div class="panel panel-default">

            <div class="panel-heading">
                <a id="party_stage_1_name" class="editable editable-click editable-disabled" href="#stage_1_body"
                   style="margin:10px;display: inline-block" data-type="text" data-pk="1"
                   data-parent="#music_accordion_container">LOOOOOOOOOOOOOOOOOOOOOL</a>
                <button id="enable_stage_1_edit"class="edit_btn_flag" type="button">
                    <i class="fa fa-pencil"></i>
                </button>
            </div>

            <div id="stage_1_body" class="panel-collapse in">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, harum impedit obcaecati perspiciatis quas quisquam voluptatum! Alias, aliquid asperiores commodi delectus, in ipsum, magnam molestiae nesciunt praesentium ullam ut?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, harum impedit obcaecati perspiciatis quas quisquam voluptatum! Alias, aliquid asperiores commodi delectus, in ipsum, magnam molestiae nesciunt praesentium ullam ut?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, harum impedit obcaecati perspiciatis quas quisquam voluptatum! Alias, aliquid asperiores commodi delectus, in ipsum, magnam molestiae nesciunt praesentium ullam ut?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, harum impedit obcaecati perspiciatis quas quisquam voluptatum! Alias, aliquid asperiores commodi delectus, in ipsum, magnam molestiae nesciunt praesentium ullam ut?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, harum impedit obcaecati perspiciatis quas quisquam voluptatum! Alias, aliquid asperiores commodi delectus, in ipsum, magnam molestiae nesciunt praesentium ullam ut?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, harum impedit obcaecati perspiciatis quas quisquam voluptatum! Alias, aliquid asperiores commodi delectus, in ipsum, magnam molestiae nesciunt praesentium ullam ut?

            </div>

        </div>


    </div>

</div>

<button id="party_add_stage" type="button" class="btn btn-danger">Add Stage</button>
