<div class="portlet-body">

    <div class="panel-group accordion" id="music_accordion_container">

    </div>

</div>

<button id="party_add_stage" type="button" class="btn btn-danger">Add Stage</button>
