<div class="row">

	<div class="col-md-12">

		<div class="pull-left group-btn">
			<label>Total Number: </label>
			<label id="total_number"></label>

		</div>


		<div class="pull-right group-btn">
			<div class="form-group party-search-filter">
				<div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-search"></i>
                                                        </span>
					<input id="filter_tab_followers_table" type="search"
					       class="search form-control input-circle-right"
					       placeholder="Filter parties"/>
				</div>
			</div>
		</div>

		<div class="pull-right group-input">
			<div class="btn btn-circle update_tab_table_followers">
				<i class="fa fa-refresh"
				   aria-hidden="true"></i>
			</div>
		</div>


	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table id="table-line-followers"
		       class="table table-striped table-bordered table-hover table-checkable order-column">
			<thead>
			<tr>
				<th class="no_sort">Picture</th>
				<th>User&nbsp;Id</th>
				<th>User&nbsp;Name</th>
				<th>Full&nbsp;Name</th>
				<th>Time&nbsp;Attended</th>
				<th>Last&nbsp;Attendance</th>

			</tr>
			</thead>
		</table>

	</div>
</div>