<div class="row">

    <div class="col-md-12">

        <div class="form-group">

            <div class="portlet-body">
                <div class="table-scrollable">
                    <table id="opening_time_table" class="table table-striped table-tab">
                        <thead>
                        <tr >
                            <th> Day </th>
                            <th> Open </th>
                            <th> Close </th>
                            <th> Notes </th>
                        </tr>
                        </thead>
                        <tbody class="table-striped">
                            <tr>
                            <td> Sunday </td>
                            <td>
                                <select data-day="sunday" data-name="open">

                                </select>
                            </td>
                            <td>
                                <select data-day="sunday" data-name="close">

                                </select>
                            </td>
                            <td>
                                <input data-day="sunday" class="form-control" data-name="notes" type="text">
                            </td>
                        </tr>
                            <tr>
                                <td> Monday </td>
                                <td>
                                    <select data-day="monday" data-name="open">

                                    </select>
                                </td>
                                <td>
                                    <select data-day="monday"  data-name="close">

                                    </select>
                                </td>
                                <td>
                                    <input data-day="monday" class="form-control" data-name="notes" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td> Tuesday </td>
                                <td>
                                    <select data-day="tuesday"  data-name="open">

                                    </select>
                                </td>
                                <td>
                                    <select data-day="tuesday" data-name="close">

                                    </select>
                                </td>
                                <td>
                                    <input data-day="tuesday" class="form-control" data-name="notes" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td> Wednesday </td>
                                <td>
                                    <select data-day="wednesday" data-name="open">

                                    </select>
                                </td>
                                <td>
                                    <select data-day="wednesday" data-name="close">

                                    </select>
                                </td>
                                <td>
                                    <input data-day="wednesday" class="form-control" data-name="notes" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td> Thursday </td>
                                <td>
                                    <select data-day="thursday" data-name="open">

                                    </select>
                                </td>
                                <td>
                                    <select data-day="thursday" data-name="close">

                                    </select>
                                </td>
                                <td>
                                    <input data-day="thursday" class="form-control" data-name="notes" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td> Friday </td>
                                <td>
                                    <select data-day="friday" data-name="open">

                                    </select>
                                </td>
                                <td>
                                    <select data-day="friday" data-name="close">

                                    </select>
                                </td>
                                <td>
                                    <input data-day="friday" class="form-control" data-name="notes" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td> Saturday </td>
                                <td>
                                    <select data-day="saturday" data-name="open">

                                    </select>
                                </td>
                                <td>
                                    <select data-day="saturday" data-name="close">

                                    </select>
                                </td>
                                <td>
                                    <input data-day="saturday" class="form-control" data-name="notes" type="text">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</div>

