<div class="row">

    <div class="col-md-12">

        <div class="pull-left group-btn">
            <a class="btn btn-circle btn-info"
               data-target="#event_add_party" data-toggle="modal">Add
                Party
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
        </div>


        <div class="pull-right group-btn">
            <div class="form-group party-search-filter">
                <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-search"></i>
                                                        </span>
                    <input id="filter-event-table" type="search"
                           class="search form-control input-circle-right"
                           placeholder="Filter parties"/>
                </div>
            </div>
        </div>

        <div class="pull-right group-input">
            <div class="btn btn-circle update-table-users">
                <i class="fa fa-refresh"
                   aria-hidden="true"></i>
            </div>
        </div>


    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="event_parties"
               class="table table-striped table-bordered table-hover table-checkable order-column">
            <thead>
            <tr>
                <th>#</th>
                <th>Line</th>
                <th>Club</th>
                <th>Date</th>
                <th>Open Time</th>
                <th>Attendees</th>
                <th>Video</th>
                <th>Tkts</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<div id="event_add_party" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Create Party</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- BEGIN FORM-->
                    <form action="/party/add" method="post" class="form-horizontal"
                          id="form_add_party">
                        <input type="hidden" name="eventId" value="<%= event.id %>">
                        <div class="form-body">
                            <div class="container col-md-12">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    You have some form errors. Please check below.
                                </div>

                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button>
                                    Your form validation is successful!
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-3 control-label" for="form-line-origin-name">Name
                                        In Local Language
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <input id="form_party_origin_name" type="text"
                                               class="form-control"
                                               placeholder="Local Name" value=""
                                               name="lineOriginName" required maxlength="40">
                                        <div class="form-control-focus"></div>
                                        <span class="help-block">Name In Local Language</span>
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-3 control-label" for="form-line-english-name">Name
                                        In English
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <input id="form_party_english_name" type="text"
                                               class="form-control"
                                               placeholder="Name In English" value=""
                                               name="lineEnglishName" required maxlength="40">
                                        <div class="form-control-focus"></div>
                                        <span class="help-block">Name In English</span>
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="col-md-3 control-label" for="form-line-english-name">Club Name
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <input id="form_party_club_name" type="text"
                                               class="form-control"
                                               placeholder="Club Name" value=""
                                               name="clubName" required maxlength="40">
                                        <div class="form-control-focus"></div>
                                        <span class="help-block">Club Name</span>
                                    </div>
                                </div>


                                <div class="form-group form-md-line-input">
                                    <label class="control-label col-md-3">Location
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9">
                                        <input required
                                               type="text" id="geocomplete_event_add" class="form-control"
                                               placeholder="Search for city, country"/>

                                        <div class="geo-data">
                                            <input id="lat" name="lat" type="text" value=""/>
                                            <input id="lng" name="lng" type="text" value=""/>
                                            <input id="locality" name="locality" type="text" value=""/>
                                            <input id="country" name="country" type="text" value=""/>
                                            <input id="country_short" name="country_short" type="text" value=""/>
                                            <input id="route" name="route" type="text" value=""/>
                                            <input id="street_number" name="street_number" type="text" value="">
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-12 form-group form-md-line-input">
                                    <label class="control-label col-md-3">Date & Time</label>
                                    <div class="col-md-9">
                                        <div id="event_party_datetime_input" class="input-group date">
                                            <input title="Date & Time" name="party_start_time" class="form-control"
                                                   type="text" placeholder="Date & Time"
                                                   style="width: 100%"
                                                   data-date-format="yyyy/mm/dd hh:ii">
                                            <span class="input-group-addon"><i class="fa fa-times"></i></span>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group form-md-line-input">
                                    <label class="control-label col-md-3">Description</label>

                                    <div class="col-md-9">
                                        <div class="tabbable-line">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a
                                                            href="#english_language_party_description_container"
                                                            data-toggle="tab"
                                                            aria-expanded="true">English</a>
                                                </li>
                                                <li><a href="#origin_language_party_description_container"
                                                       data-toggle="tab"
                                                       aria-expanded="false">Local</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active"
                                                     id="english_language_party_description_container">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="col-md-12">
																			<textarea
                                                                                    id="english_language_party_description"
                                                                                    class="form-control"
                                                                                    name="englishDescription"
                                                                                    rows="3"
                                                                                    placeholder="English description "
                                                                                    style="margin-top: 0px; margin-bottom: 0px; height: 96px;"></textarea>
                                                            <div class="form-control-focus"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="origin_language_party_description_container">
                                                    <div class="form-group form-md-line-input">
                                                        <div class="col-md-12">
																			<textarea
                                                                                    id="origin_language_party_description"
                                                                                    class="form-control"
                                                                                    name="originDescription"
                                                                                    rows="3"
                                                                                    placeholder="Local description "
                                                                                    style="margin-top: 0px; margin-bottom: 0px; height: 96px;"></textarea>
                                                            <div class="form-control-focus"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Cancel</button>
                <button form="form_add_party" type="submit"
                        class="btn green">Create
                </button>
            </div>
        </div>
    </div>
</div>