<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/lines">Lines</a></li>
        <li><a href="/parties">Parties</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>