<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../static/head %>

    <link href="/css/home.css" rel="stylesheet" type="text/css"/>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">


<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" valign="botoom">
        <div align="center" class="inner">

            <!-- Logo -->
            <a href="/" class="logo">
                <span class="symbol"><img align="center" src="images/logo.png" alt=""/></span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Ipsum veroeros</a></li>
            <li><a href="/">Tempus etiam</a></li>
            <li><a href="/">Consequat dolor</a></li>
            <li><a href="/">Elements</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <section class="tiles">
                <article class="style1">
									<span class="image">
										<img src="images/pic01.jpg" alt=""/>
									</span>
                    <a href="/users">
                        <h2>Users

                        </h2>
                        <div class="content">
                            <p>All: <%= userCount %> </p>
                            <p>Active: <%= userCount %></p>
                        </div>
                    </a>
                </article>
                <article class="style2">
									<span class="image">
										<img src="images/pic02.jpg" alt=""/>
									</span>
                    <a href="parties_panel.html">
                        <h2>Lines</h2>
                        <div class="content">
                            <p>Today: 17 <br> Future: 78 <br> Past: 1,238</p>
                        </div>
                    </a>
                </article>

                <article class="style3">
									<span class="image">
										<img src="images/pic02.jpg" alt=""/>
									</span>
                    <a href="parties_panel.html">
                        <h2>Parties</h2>
                        <div class="content">
                            <p>Today: 17 <br> Future: 78 <br> Past: 1,238</p>
                        </div>
                    </a>
                </article>

                <article class="style2">
									<span class="image">
										<img src="images/pic03.jpg" alt=""/>
									</span>
                    <a href="generic.html">
                        <h2>Events</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>
                <article class="style4">
									<span class="image">
										<img src="images/pic04.jpg" alt=""/>
									</span>
                    <a href="generic.html">
                        <h2>Bars</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>

                <article class="style4">
									<span class="image">
										<img src="images/pic04.jpg" alt=""/>
									</span>
                    <a href="generic.html">
                        <h2>Bars</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>


            </section>
        </div>
    </div>

</div>


<footer>
    <script src="/js/start/jquery.min.js"></script>
    <script src="/js/start/skel.min.js"></script>
    <script src="/js/start/util.js"></script>
    <!--[if lte IE 8]>
    <script src="/js/start/ie/respond.min.js"></script><![endif]-->
    <script src="/js/start/main.js"></script>
</footer>

</body>
</html>


