<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../static/head %>

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="../assets/pages/css/portfolio.min.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->

    <link href="../assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="../assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->


    <link href="/css/plugins/croppie.css" rel="stylesheet" type="text/css"/>


    <link href="/css/lines.css" rel="stylesheet" type="text/css"/>

</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">


<div class="page-wrapper">

    <header id="header" valign="botoom">
        <% include ../static/header %>
    </header>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">

            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->
</div>


<footer>
    <% include ../static/footer %>

    <script src="/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script src="/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>

    <script src="/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>

    <script src="/assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>

    <script src="/js/plugins/croppie.js" type="text/javascript"></script>


    <script src="/js/lines.js" type="text/javascript"></script>


</footer>

<% include ../static/menu %>

</body>
</html>