<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../static/head %>

</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-lines-list">


<div class="page-wrapper">

    <header id="header" valign="botoom">
        <% include ../../static/header %>
    </header>

    <div class="page-container">


        <div class="page-content-wrapper">
            <div class="wrapper-title">
                <h1 class="page-title text-center"> Parties</h1>
            </div>

            <div class="page-content">

                <div class="row">

                    <div class="col-md-12">
                        <div class="pull-left group-btn">
                            <div class="pull-left">
                                <a data-status="false" class="filter-status btn btn-circle btn-success"> All</a>
                                <span>999</span>
                            </div>
                            <div class="pull-left">
                                <a data-status="true" class="filter-status btn btn-circle btn-success"> Past</a>
                                <span>999</span>
                            </div>
                            <div class="pull-left">
                                <a data-status="false" class="filter-status btn btn-circle btn-success"> Today</a>
                                <span>999</span>
                            </div>
                            <div class="pull-left">
                                <a data-status="false" class="filter-status btn btn-circle btn-success"> Future</a>
                                <span>999</span>
                            </div>
                            <a class="btn btn-circle btn-info" data-target="#modal-add-line" data-toggle="modal">Add Party
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="pull-right group-input">

                            <div id="refresh_parties" class="group-icon-text pull-left">
                                <span class="fa fa-refresh"></span>
                            </div>
                            <div class="form-group search-block pull-right">
                                <div class="input-icon input-circle-left">
                                    <i class="fa fa-search"></i>
                                    <input id="search_parties" placeholder="Filter parties" name="search" type="text"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>


</div>


<footer>
    <% include ../../static/footer %>
</footer>

<% include ../../static/menu %>

</body>
</html>


